.rounded-circle-progress {
        position: relative;
        width: 150px;
        height: 150px;
        margin: auto;
    }
    .rounded-circle-progress-bar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: conic-gradient(#0dcaf0 var(--progress), #e9ecef 0deg);
    }
    .rounded-circle-progress-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-weight: bold;
    }
    .category-card {
        background-color: #f8f9fa;
        border-radius: 1rem;
        padding: 1rem;
    }
    .category-card i {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }
    .category-card span {
        font-size: 0.9rem;
    }

.hidden {
  display: none !important;
}

.settings-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 1.5rem;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.settings-icon:hover {
    color: #a6d9e6ff;
    background-color: rgba(0, 0, 0, 0.6);
}